In [13]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import os

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [14]:
data = pd.read_csv("C:\\GIT\\Churn-Modelling\\data\\Churn_Modelling.csv")

In [17]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
data.drop(columns=["RowNumber"], inplace=True)

In [19]:
data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
data.tail()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [21]:
data.shape

(10000, 13)

In [22]:
data.isnull().sum()

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [23]:
# our data is clean

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          10000 non-null  object
 2   CreditScore      10000 non-null  int64
 3   Geography        10000 non-null  object
 4   Gender           10000 non-null  object
 5   Age              10000 non-null  int64
 6   Tenure           10000 non-null  int64
 7   Balance          10000 non-null  float64
 8   NumOfProducts    10000 non-null  int64
 9   HasCrCard        10000 non-null  int64
 10  IsActiveMember   10000 non-null  int64
 11  EstimatedSalary  10000 non-null  float64
 12  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1015.8+ KB

In [27]:
data.describe()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [28]:
data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
#dropping irrelevant columns
data.drop(columns=["CustomerId", "Surname"], inplace=True)

In [30]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [33]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [34]:
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [35]:
# we need to encode the categorical data
data = pd.get_dummies(data, drop_first=True)

In [36]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [37]:
data['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [38]:
Exited = data['Exited'].value_counts().reset_index()
Exited.columns = ['Exited', 'count']

In [39]:
Exited.head()

   Exited  count
0       0   7963
1       1   2037

In [45]:
fig = px.bar(Exited, x='Exited',
             y='count',
             color='Exited',
             title = "Customer Exit Counts",
             text='count')
fig.update_layout(template="plotly_dark",
                  width=1150,
                  height=500,
                  title_x=0.5)
fig.update_traces(textposition='outside')
fig.show()

In [46]:
x = data.drop('Exited', axis=1)
y = data['Exited']

In [47]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False

In [48]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [49]:
# the preparation is done.
# we can start modelling

### Now we can start to split the dataset and use the training set to train and test set to test the model

In [53]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.5.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\abhis\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\abhis\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.14.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.0-cp312-cp312-win_amd64.whl (10.9 MB)
   ---------------------------------------- 0.0/10.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.9 MB 5.7 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/10.9 MB 8.4 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/10.9 MB 9.4 MB/s eta 0:00:02
   ------ --------------------------------- 1.9/10.9 MB 10.0 MB/s eta 0:00:01
   --------- ------------------------------ 2.5/10.9 MB 10.5 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/10.9 MB 10.5 MB/s eta 0:00:01
   ------------ --------------------------- 3.5/10.9 MB 10.5 MB/s eta 0:00:01
   -------------- ------------------------- 3.9/10.9 MB 10.5 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/10.9 MB 10.6 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.9 MB 10.7 MB/s eta 0:00:01
   -------------------- ------------------- 5.5/10.9 MB 11.0 MB/s eta 0:00:01
   --------------------- ------------------ 5.9/10.9 MB 10.7 MB/s eta 0:00:01
   ---------------------- ----------------- 6.2/10.9 MB 10.4 MB/s eta 0:00:01
   ------------------------ --------------- 6.7/10.9 MB 10.4 MB/s eta 0:00:01
   -------------------------- ------------- 7.2/10.9 MB 10.4 MB/s eta 0:00:01
   ---------------------------- ----------- 7.7/10.9 MB 10.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.2/10.9 MB 10.5 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/10.9 MB 10.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/10.9 MB 10.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.8/10.9 MB 10.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/10.9 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.9 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------- 10.9/10.9 MB 10.4 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------------------------------------- 301.8/301.8 kB 9.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.0 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [54]:
from sklearn.model_selection import train_test_split

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

### feature scaling, suggested to use for mostly linear models

In [57]:
from sklearn.preprocessing import StandardScaler

In [58]:
sc = StandardScaler()

In [59]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [60]:
x_train

array([[ 1.058568  ,  1.71508648,  0.68472287, ..., -0.57831252,
        -0.57773517,  0.90750738],
       [ 0.91362605, -0.65993547, -0.6962018 , ...,  1.72916886,
        -0.57773517,  0.90750738],
       [ 1.07927399, -0.18493108, -1.73189531, ...,  1.72916886,
        -0.57773517, -1.10191942],
       ...,
       [ 0.16821031, -0.18493108,  1.3751852 , ..., -0.57831252,
        -0.57773517, -1.10191942],
       [ 0.37527024, -0.37493284,  1.02995403, ..., -0.57831252,
         1.73089688,  0.90750738],
       [ 1.56586482,  1.14508121,  0.68472287, ..., -0.57831252,
         1.73089688,  0.90750738]])

### Linear Regression

In [61]:
from sklearn.linear_model import LogisticRegression

In [62]:
log = LogisticRegression()

In [63]:
log.fit(x_train, y_train)

LogisticRegression()

In [64]:
y_pred = log.predict(x_test)

In [65]:
from sklearn.metrics import accuracy_score

In [66]:
accuracy_score(y_test, y_pred)

0.808

In [69]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [73]:
precision_score(y_test, y_pred)

0.5891472868217055

In [74]:
recall_score(y_test, y_pred)

0.18673218673218672

In [75]:
f1_score(y_test, y_pred)

0.2835820895522388

In [76]:
# although accuracy score is fairly high, the other 3 scores are very low

 beacuse the scores are low we need to check with another model

### Using SVC